<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>About</title>
  </head>
  <body>
    <!-- Include the header/navigation using EJS include -->
    <% include header.ejs %>
    <div class="container">
      <p>swang6</p>
      <a href="https://github.com/it-sd/sqc-project-swang274">GitHub project</a>
      <p>
        The purpose of this site is to helping road travelers to better plan the
        trip routes and itineraries. Travelers can use this website to share
        their road trip plans with their friends and trip-mates. Use the map
        feature to figure out the perfect trip routes for everyone in the group.
        The trip notes feature can help everyone in the group see the
        plans/notes for each trip stop.
      </p>
    </div>
  </body>
</html>
