<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trip Planner Home</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" href="/favicon-16x16.png" type="image/png" />
    <link rel="icon" href="/favicon-32x32.png" type="image/png" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- Include the header/navigation using EJS include -->
    <% include header.ejs %>
    <div class="container">
      <h1>Trip Planner Home Page</h1>
    </div>
  </body>
</html>
